<section
  class="info-section text-center"
  style="background-image: url(assets/img/info-section.png);"
>
  <div class="container-fluid">
    <div class="img-holder absolute-img">
      <img src="assets/img/info-section-absolute.png" alt="dots" />
    </div>
    <h2 translate>
      InfoHeader.Part1
      <span class="d-block d-md-inline" translate>InfoHeader.Part2</span>
    </h2>
    <p translate>
      InfoDescription
    </p>
    <div class="buttons-group d-flex flex-wrap justify-content-center">
      <a
        class="btn btn-warning"
        href="https://go.docusign.com/o/sandbox/"
        target="_blank"
        translate
      >
        SandBoxButton
      </a>
      <a
        class="btn btn-outline-warning"
        href="https://developers.docusign.com/"
        target="_blank"
        translate
      >
        LearnMoreButton
      </a>
    </div>
  </div>
</section>
