################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/bin
**/obj
**/.angular
/frontend/markup/node_modules/
appsettings.json