.hero-section {
    &.hero-home {
        padding-top: 85px;
        background: linear-gradient(343.72deg, #F0F0FC 0%, #FCFCFC 100%);
        @include media-breakpoint-up(md) {
            padding-bottom: 50px;
        }
        @include media-breakpoint-up(lg) {
            padding-top: 170px;
        }
        @include media-breakpoint-up(xl) {
            padding-bottom: 0;
        }

        .container-fluid {
            position: relative;
        }

        .buttons-group {
            padding-top: 35px;
            margin-bottom: 50px;
            @include media-breakpoint-up(md) {
                padding-top: 50px;
            }
            @include media-breakpoint-up(lg) {
                padding-top: 80px;
                margin-bottom: 100px;
            }
        }

        .cta-section {
            .cta-title {

                text-align: center;
                display: block;
                margin-bottom: 22px;
                @include media-breakpoint-up(md) {
                    text-align: left;
                }
            }
        }
    }

    h1 {
        margin-bottom: 20px;
        text-align: center;
        @include media-breakpoint-up(md) {
            text-align: left;
        }
    }

    h4 {
        text-align: center;
        @include media-breakpoint-up(md) {
            text-align: left;
        }
    }

    .absolute-img {
        @include media-breakpoint-up(md) {
            transform: translateY(-50%);
            left: -35px;
            top: 285px;
        }
    }


    .main-image {
        height: 100%;
        max-width: 708px;
        max-height: 638px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 25px;
        @include media-breakpoint-up(md) {

        }

        img {
            max-width: 100%;
        }
    }
}