html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    //width: 1920px;
    &:after {
        transition: 1s;
        content: '';
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        z-index: 1;
    }

    &.ovh {
        overflow: hidden;

        &:after {
            visibility: visible;
            opacity: 1;
            right: 220px;
        }
    }
}

.content {
    flex: 1 0 auto;
    overflow: hidden;
    min-height: calc(100vh - 53px);
}

.container-fluid {
    max-width: 1440px;
}

.form-control::-webkit-input-placeholder,
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control:-moz-placeholder {
    /* Chrome/Opera/Safari */
}

.ovh {
    overflow: hidden;
}

h1,
.h1 {
    letter-spacing: 0;
    line-height: 49px;
    @include media-breakpoint-up(lg) {
        font-size: 40px;
        letter-spacing: 0;
        line-height: 73px;
    }
    @include media-breakpoint-up(lg) {
        margin-bottom: 20px;
        line-height: 78px;
        font-size: 68px;
    }
}

h2,
.h2 {
    letter-spacing: 0;
    line-height: 49px;
    @include media-breakpoint-up(lg) {
        font-size: 40px;
        line-height: 96px;
    }

    &.page-title {
        text-align: center;
        margin-bottom: 50px;
        @include media-breakpoint-up(lg) {
            text-align: left;
            margin-bottom: 35px;
        }

        .sub-title {
            color: $gray-900;
            font-size: 24px;
            font-weight: $font-weight-600;
            letter-spacing: 0;
            line-height: 32px;
            display: block;
            padding-top: 20px;
            @include media-breakpoint-up(lg) {
                font-size: 22px;
                line-height: 30px;
                display: inline-block;
                padding-left: 25px;
                padding-top: 0;
            }
        }
    }
}

h3,
.h3 {
    font-weight: $font-weight-bold;
    line-height: 32px;
    @include media-breakpoint-up(lg) {
        font-size: 32px;
        line-height: 35px;
    }
}

h4,
.h4 {
    letter-spacing: 0.75px;
    line-height: 32px;
    font-weight: $font-weight-bolder;
    margin-bottom: 15px;
    @include media-breakpoint-up(lg) {
        line-height: 32px;
        margin-bottom: 20px;
    }

    .link-with-arrow {
        color: $gray-900;
        font-weight: inherit;
        margin-right: 30px;
        letter-spacing: inherit;
        font-size: inherit;
        top: 0;

        &:after {
            content: url(./../../../assets/img/arrow-right-bold.svg);
            margin-left: 15px;
            top: 0;
            right: -15px;
        }
    }
}

h5,
.h5 {
    line-height: 22px;
}

h6,
.h6 {
    line-height: 22px;
}

ul {
    color: $gray-800;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 33px;
    padding-left: 20px;

    li {
    }
}

.overlay {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 200%;
    background-color: $black;
    transition: 0.5s;
    z-index: 999999;
}

.content-section {
    position: relative;
    padding-top: 130px;
    padding-bottom: 75px;
    @include media-breakpoint-up(lg) {
        padding-top: 110px;
        padding-bottom: 50px;
    }
}

.absolute-img {
    position: absolute;
    display: none;
    @include media-breakpoint-up(lg) {
        display: block;
    }
}

.timecard-absolute-image-one {
    right: -65px;
    top: 220px;
}

.timecard-absolute-image-two {
    right: 100px;
    top: 500px;
}

.link-with-arrow {
    display: inline-block;
    position: relative;
    background-color: transparent;
    border: none;
    font-size: 16px;
    margin-right: 20px;

    &.disabled {
        color: #b7b7b7 !important;

        &:after {
            opacity: 0.3;
        }
    }

    &:after {
        transition: transform 0.3s;
        content: url('./../../../assets/img/arrow-right.svg');
        position: absolute;
        transform: rotate(-90deg);
        margin-left: 15px;
    }

    &:hover,
    &:active,
    &:focus {
        outline: none;
    }

    &.collapsed {
        &:after {
            transform: rotate(90deg);
        }
    }

    &.link-with-arrow-orange {
        text-decoration: underline;
        color: $warning;
        font-size: 18px;
        font-weight: $font-weight-bold;
        letter-spacing: 0;
        line-height: 24px;
        margin-right: 20px;

        &:after {
            content: url('./../../../assets/img/arrow-right-orange.svg');
            margin-left: 10px;
            top: 0;
            right: -15px;
        }
    }
}

.edit-icon {
    height: 40px;
    width: 40px;
    background-color: $warning;
    overflow: hidden;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    @include media-breakpoint-up(lg) {
        height: 33px;
        width: 33px;
    }

    &:hover,
    &:active,
    &:focus {
        outline: none;
    }
}

hr {
    opacity: 0.19;
}

.multi-level-section {
    @include media-breakpoint-between(lg, xl) {
        .section-card {
            padding: 20px 10px 20px 10px;

            .card-header {
                .card-icon {
                    margin-right: 5px;
                }

                .card-actions {
                    .btn-warning {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

.total-time {
    color: #3c3c3d;
    font-weight: $font-weight-bold;
    letter-spacing: 0;

    .total-time-title {
        font-size: 22px;
        line-height: 30px;
        margin-right: 15px;
    }

    .total-time-hours {
        font-size: 32px;
        line-height: 43px;
    }
}

.modal {
    .modal-body {
        @include media-breakpoint-up(lg) {
            padding: 45px;
        }
    }

    .modal-title {
        @include media-breakpoint-up(lg) {
            margin-bottom: 10px;
        }
    }

    .modal-subtitle {
        display: inline-block;
        color: #686868;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 22px;
        margin-bottom: 20px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 30px;
        }
    }

    .close {
        position: absolute;
        right: 24px;
        top: 11px;
        font-size: 23px;
        color: #3c3c3d;
        z-index: 9;

        &:focus,
        &:active {
            outline: none;
        }
    }
}

.collapse-inset-wrapper {
    .collapse-inset-body {
        border-radius: 4px;
        background-color: rgba(#f6f6f7, 0.8);
        padding: 20px;
        margin-top: 15px;

        .collapse-inset-content {
            padding-top: 15px;
        }
        p {
            line-height: 21px;
        }
    }
}
