.footer {
    flex-shrink: 0;
    font-family: $nato-sans;
    border-top: 1px solid #E6E6E6;
    background-color: $gray-100;

    .copyright {
        font-weight: $font-weight-bold;
        font-size: 12px;
    }
}